/* ingredientCard.css */

/* Wrapper */
#ingredientWrapper {
    background-color: #FFF2E1;
    height: 500px;
    width: 20vw;
    padding: 1%;
}

/* Title */
#ingredientTitle {
    width: 100%;
    font-size: 2rem;
}

/* Servings and Measurement Container */
#servingsMeasurmentContainer {
    display: flex;
    justify-content: center;
}

#servingLabel {
    width: 100%;
    text-align: center;
}

/* Servings */
#servings {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* Add your styles for the servings here */
}

/* Measurement Unit */
#measurmentUnit {

}

#line {
    background-color: rgba(0, 0, 0, 0.493);
    width: 90%;
    margin: 20px auto 0 auto;
    height: 1px;
}

#metricButtons{
    background-color: red;
}

.metricBtn {
    background-color: red;
}

/* Name and Amount */
.nameAndAmount {
   display: flex;
   justify-content: space-around;
}

/* Name */
.name {
    /* Add your styles for the name here */
}

/* Amount */
.amount {
    /* Add your styles for the amount here */
}